{% extends "account/base.html" %}

{% block head_title %}
Account inactive
{% endblock %}


{% block content %}

<div class="auth-heading">

    <div class="auth-logo">
        ⚠️
    </div>

    <h1>Account inactive</h1>

    <p>
        This account is currently inactive.
    </p>

</div>


<div class="info-box">

    <p>
        Please contact the site administrator if you
        believe this happened by mistake.
    </p>

</div>


<a
    href="/"
    class="primary-btn"
>
    Back to portfolio
</a>

{% endblock %}