{% extends "account/base.html" %}

{% block head_title %}
Verify your email
{% endblock %}


{% block content %}

<div class="auth-heading">

    <div class="success-icon">
        ✉
    </div>

    <h1>Verify your email</h1>

    <p>
        We've sent a confirmation link to your email address.
    </p>

</div>


<div class="info-box">

    <strong>Almost there!</strong>

    <p>
        Open your email and click the confirmation link
        to activate your account.
    </p>

</div>


<div class="switch-auth">

    <a href="/">
        Return to portfolio
    </a>

</div>

{% endblock %}